<% var data = {
title: "Трансгруз"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link hide-desktop" href="#"><i class="icon icon-left-arrow-1"></i></a>
            <a class="item link" href="#">Главная</a>
            <div class="item divider hide-mobile"><i class="icon icon-right-arrow"></i></div>
            <div class="item hide-mobile">Новости</div>
        </div>

    </div>
</div>

<div class="section no-padding-top">
    <div class="container">
        <div class="caption-with-button margin-bottom">
            <h1 class="h3 margin-bottom">Новости-Акции</h1>
        </div>
        <div class="news-promo-cards margin-top margin-bottom-x2">
            <div class="row">
                <div class="col w-25 w-50-tablet ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-1.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet  ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet  ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet  ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-1.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet  ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet  ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet  ">
                    <a href="#" class="item">
                        <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                        <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
