<% var data = {
title: "Трансгруз"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link hide-desktop" href="#"><i class="icon icon-left-arrow-1"></i></a>
            <a class="item link hide-mobile" href="#">Главная</a>
            <div class="item divider hide-mobile"><i class="icon icon-right-arrow"></i></div>
            <a class="item link" href="#">Гаражи и паркинги</a>
            <div class="item divider hide-mobile"><i class="icon icon-right-arrow"></i></div>
            <div class="item hide-mobile">ЖК «Академический»</div>
        </div>

    </div>
</div>
<div class="section no-padding margin-bottom-x4">
    <div class="container">
        <div class="parking-section">
            <div class="ps_head">
                <div class="caption margin-bottom-x2">
                    <h1 class="h3">ЖК «Академический»</h1>
                </div>
            </div>



            <div class="ps-nav">
                <select name="" id="" class="select-custom">
                    <option value="1">Нижний этаж</option>
                    <option value="2">Подземно-надземный паркинг2</option>
                </select>
                <div class="parking-floor">
                    <span>Этаж</span>
                    <a href="#" class="button small">-1</a>
                    <a href="#" class="button small secondary bordered">-2</a>
                </div>
               <!-- <div class="section_colors section_colors-horizontal hide-mobile">
                    <div class="s_color s_color-green">В продаже</div>
                    <div class="s_color">Продано</div>
                </div>-->
            </div>

            <div class="parking-content">
                <a class="parking-img-wrap zoom-img" href="./img/parking/parking.jpg" data-fancybox>
                    <div class="parking-img" style="background-image: url('./img/parking/parking.jpg')"></div>
                    <div class="round-icon"><i class="icon icon-fullscreen"></i></div>
                    <!--<img src="./img/parking/parking.jpg" alt="">-->
                </a>
                <div class="parking-info-wrap">
                    <div class="parking-info_title">Описание</div>
                    <div class="parking-info_text margin-bottom">
                        Двухэтажный подземный паркинг. Ввод в эксплуатацию в IV квартале 2021 г.
                    </div>
                    <div class="parking-info_title">Цена</div>
                    <div class="parking-info_text">
                        Продажа
                    </div>
                    <div class="parking-info_price">
                        от 675 000 ₽
                    </div>
                    <div class="parking-info_text">
                        Аренда
                    </div>
                    <div class="parking-info_price">
                        от 7 500 ₽ в мес.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<%= _.template(require('./../includes/footer.html').default)(data) %>
