<% var data = {
title: "Трансгруз"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link hide-desktop" href="#"><i class="icon icon-left-arrow-1"></i></a>
            <a class="item link" href="#">Главная</a>
            <div class="item divider hide-mobile"><i class="icon icon-right-arrow"></i></div>
            <div class="item hide-mobile">Реализованные объекты</div>
        </div>

    </div>
</div>

<div class="section padding-top">
    <div class="container">
        <div class="caption-with-button margin-bottom-x2">
            <h1 class="h3 margin-bottom">Реализованные объекты</h1>
        </div>
        <h5 class="h5 ro-cards-title margin-top-x2">2019 г.</h5>
        <div class="ro-cards ro-cards__noscroll ro-cards-hover count-3">
            <a href="#" class="item effect-white">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/tsentralniy.jpg" style="background-image: url('./img/residential-complex/tsentralniy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Центральный»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>
                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/akademicheskiy.jpg" style="background-image: url('./img/residential-complex/akademicheskiy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Академический»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/kvartal120.jpg" style="background-image: url('./img/residential-complex/kvartal120.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «120 квартал»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>

            <a href="#" class="item effect-white">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/tsentralniy.jpg" style="background-image: url('./img/residential-complex/tsentralniy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Центральный»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>
                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/akademicheskiy.jpg" style="background-image: url('./img/residential-complex/akademicheskiy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Академический»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/kvartal120.jpg" style="background-image: url('./img/residential-complex/kvartal120.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «120 квартал»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>
        </div>
        <h5 class="h5 ro-cards-title margin-top-x2">2018 г.</h5>
        <div class="ro-cards ro-cards__noscroll ro-cards-hover count-3">
            <a href="#" class="item effect-white">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/tsentralniy.jpg" style="background-image: url('./img/residential-complex/tsentralniy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Центральный»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>
                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/akademicheskiy.jpg" style="background-image: url('./img/residential-complex/akademicheskiy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Академический»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/kvartal120.jpg" style="background-image: url('./img/residential-complex/kvartal120.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «120 квартал»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>

            <a href="#" class="item effect-white">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/tsentralniy.jpg" style="background-image: url('./img/residential-complex/tsentralniy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Центральный»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>
                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/akademicheskiy.jpg" style="background-image: url('./img/residential-complex/akademicheskiy.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Академический»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>
            <a href="#" class="item effect-white ">
                <div class="content  ">
                    <div class="bg lazy" data-src="./img/residential-complex/kvartal120.jpg" style="background-image: url('./img/residential-complex/kvartal120.jpg')"></div>
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «120 квартал»</div>
                            <div class="address">
                                <div class="round-icon smallest">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                    </div>

                </div>
                <div class="effect-stripe "></div>
            </a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
